<section class="products">
    <h3>{{ message }}</h3>

    <productthumb v-for="product in allProducts" :product="product" :key="product.id" class="product">
         <h3 class="product_title">{{product.title}}</h3>
    </productthumb>
   

    
</section>