<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping-cart</title>
</head>
<body>

 <main id="app">
<h1>NOW OPEN!</h1>  
<h3>The garage tools are now open for in-person shopping. Ontario stores are currently operating for curbside pick-up only.</h3> 

{{{ body }}}

</main>

<script defer type="module" src="scripts/main.js"></script>
</body>
</html>